body {
  background-color: black;
  color: #d1d1d1;
  font-family: "Tajawal", sans-serif;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 4;
}

.about-me {
  justify-content: center;
}

#profile-pic {
  max-width: 300px;
  float: left;
  padding: 10px;
}

.bio-info {
  margin: auto;
  text-align: center;
}

@media screen and (max-width: 650px) {
  .bio-info {
    clear: both;
  }
}

.profile {
  clear: both;
}

.skills {
  max-height: 400px;
  margin-bottom: 70px;
}

.card {
  max-width: 18rem;
}

.hobbies {
  margin-top: 20px;
}

#dekmantel-pic {
  display: block;
  max-height: 100%;
  max-width: 100%;
}

.footer {
  background-color: #343a40;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 5px;
}

.footer > a {
  padding: 5px;
}
